@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body {
  margin: 0;
  background-color: #eaeaea;
  letter-spacing: 2px;
  color: #82818c;
  font-family: "Microsoft YaHei", "微软雅黑"; }

.rows .row-7 {
  display: inline-block;
  width: 70%;
  height: 100%; }
.rows .row-3 {
  display: inline-block;
  width: 30%;
  height: 100%; }

.left {
  float: left; }

.right {
  float: right; }

a {
  color: #000000 !important;
  font-family: "Microsoft YaHei", "微软雅黑" !important; }

section {
  font-family: "Microsoft YaHei", "微软雅黑"; }
  section .header {
    position: relative; }
    section .header .title {
      float: left;
      font-size: 25px; }
    section .header .more {
      position: absolute;
      top: 10px;
      right: 10px; }
      section .header .more a {
        font-size: 15px;
        color: green;
        text-decoration: none; }
        section .header .more a:hover {
          font-size: 20px; }
  section .content {
    height: 300px;
    padding-top: 50px; }

input, textarea {
  width: 100%;
  display: block;
  border-radius: -6px;
  border: 1px skyblue solid;
  font-size: 20px; }

.button {
  display: inline-block;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  color: #000000; }

.blue-button {
  background: skyblue; }
  .blue-button:hover {
    background: #0089d1; }

.yellow-button {
  background: orchid;
  float: right;
  color: #000000; }
  .yellow-button:hover {
    background: blueviolet; }

.small-button {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  margin-right: 30px;
  background: burlywood;
  float: right; }
  .small-button:hover {
    background: blueviolet; }
#blog-new .form, #blog-edit .form {
  width: 100%;
  padding-bottom: 20px; }
  #blog-new .form .field, #blog-edit .form .field {
    padding-bottom: 30px;
    width: 100%;
    margin: 0 auto; }
    #blog-new .form .field label, #blog-edit .form .field label {
      display: block;
      font-size: 20px;
      width: 100%; }
    #blog-new .form .field input, #blog-edit .form .field input {
      height: 40px; }
  #blog-new .form .actions, #blog-edit .form .actions {
    width: 100%; }
    #blog-new .form .actions .blue-button, #blog-edit .form .actions .blue-button {
      font-size: 23px; }

#blog-show #notice {
  font-size: 15px;
  text-align: center;
  color: green; }
#blog-show .blog-info .title {
  font-size: 25px;
  font-weight: 5000;
  text-align: center; }
#blog-show .blog-info .content {
  font-size: 15px;
  padding: 40px 0;
  min-height: 360px; }
#blog-show .blog-info .links {
  height: 30px; }

#blog-list {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  #blog-list .links {
    height: 50px; }
  #blog-list .blog-list-section {
    height: 230px;
    padding-top: 100px;
    padding-bottom: 30px; }
    #blog-list .blog-list-section .title {
      font-size: 25px;
      font-weight: bold;
      text-align: center; }
    #blog-list .blog-list-section .bref-content {
      min-height: 100px;
      font-size: 15px;
      padding: 20px 0; }
footer {
  width: 100%;
  background: url(/assets/footer-bg.png) repeat-x left top #fcfcfd; }
  footer .footer-content {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: "Cambria W01 Regular", "Cambria", "Times New Roman", Times, serif;
    font-size: 13px;
    color: #82818c;
    letter-spacing: 0.1em; }

header {
  width: 100%;
  height: 150px;
  background: url(/assets/header-bg.png) repeat-x left bottom #fcfcfd;
  position: relative;
  display: inline-block; }
  header .header-line {
    width: 20%;
    padding-bottom: 75px;
    border-top: 3px gainsboro dotted;
    display: inline-block; }
  header #nav-bar {
    width: 60%;
    display: inline-block;
    line-height: 150px;
    text-align: center;
    color: #82818c;
    font-family: "Microsoft YaHei", "微软雅黑"; }
    header #nav-bar ul {
      width: 100%;
      display: table;
      margin: 0 auto;
      padding: 0;
      font-size: 20px; }
      header #nav-bar ul li {
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px; }
        header #nav-bar ul li a {
          color: #82818c;
          text-decoration: none; }
          header #nav-bar ul li a:hover {
            cursor: pointer;
            color: #e3594d;
            padding-bottom: 15px;
            border-bottom: 3px solid green; }
      header #nav-bar ul li:nth-child(2) {
        margin-right: 50px; }
      header #nav-bar ul li:nth-child(4) {
        margin-left: 140px; }
      header #nav-bar ul .logo a {
        top: 27px;
        position: absolute;
        width: 90px;
        height: 90px;
        background: url(/assets/home.png);
        background-size: 100%;
        background-position: 0px 0px;
        cursor: pointer;
        padding: 0 !important;
        border: none !important; }
#main-section #homepage-image-container img {
  width: 100%;
  height: 500px; }
#main-section #homepage-info-container {
  width: 1000px;
  margin: 0 auto;
  line-height: 33px;
  padding-top: 50px;
  padding-bottom: 30px; }
  #main-section #homepage-info-container #introduction {
    font-family: cursive;
    font-size: 20px;
    color: #82818c; }
  #main-section #homepage-info-container #personal-info {
    font-family: fantasy;
    font-size: 15px;
    color: #000000; }
.section {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
#admin-index {
  width: 1000px;
  height: 510px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  #admin-index .form {
    width: 250px;
    margin: 0 auto; }
    #admin-index .form .field {
      padding-bottom: 20px;
      width: 100%;
      margin: 0 auto; }
      #admin-index .form .field label {
        display: block;
        font-size: 20px;
        width: 100%; }
      #admin-index .form .field input {
        height: 40px;
        border-radius: 5px; }
      #admin-index .form .field textarea {
        height: 250px;
        border-radius: 5px; }
    #admin-index .form .actions {
      padding-top: 40px; }
      #admin-index .form .actions .button {
        width: 100%; }
/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */

.slider-wrapper {
    width: 80%;
    margin: 50px auto;
}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
    font-size: 20px;

    display: block;
    width: 30px;
    height: 30px;
    background: url(/assets/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivo-prevNav {
    left:15px;
}
.nivo-nextNav {
	right:15px;
    background-position: -30px !important;
}
/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.slider-wrapper { 
	width: 80%; 
	margin: 50px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
