body {
  margin: 0;
  background-color: #eaeaea;
}

.rows {
  .row-7 {
    display: inline-block;
    width: 70%;
    height: 100%;
  }
  .row-3 {
    display: inline-block;
    width: 30%;
    height: 100%;
  }
}

.left { float: left; }
.right { float: right; }