#blog-new {
  .form {
    width: 100%;
    padding-bottom: 30px;

    .field {
      padding-bottom: 50px;
      width: 100%;
      margin: 0 auto;

      label {
        display: block;
        font-size: 20px;
        width: 100%;

      }

      input {
        height: 40px;
      }

      textarea {
        height: 250px;
      }
    }

    .actions {
      width: 100%;

      .submit-button {
        font-size: 23px;
      }
    }
  }
}

#blog-show {
  #notice {

  }

  .blog-info {

    .title {
      font-size: 25px;
      font-weight: 5000;
      text-align: center;
    }

    .content {
      font-size: 15px;
      padding:40px 0;
      min-height: 365px;
    }

    .links {
      height: 30px;
    }
  }
}