#main-section {
  #homepage-image-container {
    height: auto;
  }

  #homepage-info-container {
    width: 100%;
    line-height: 33px;
    padding-top: 40px;

    #introduction {
      font-family: cursive;
      font-size: 20px;
      color: #82818c;
    }

    #personal-info {
      font-family: fantasy;
      font-size: 15px;
      color: #000000;
    }
  }
}
